<template>
  <section class="list">
    <div class="list__header">
      <div class="list__header-item row1">
        <span>ID</span>
      </div>
      <div class="list__header-item row2">
        <span>Номер накладной</span>
      </div>
      <div class="list__header-item row3">
        <span>Тип заказа</span>
      </div>
      <div class="list__header-item row4">
        <span>Дата создания</span>
      </div>
      <div class="list__header-item row5 no-margin "></div>
    </div>
    <ul class="list__body" v-if="orderList.length > 0">
      <li v-for="(order, index) in orderList" :key="index">
        <div class="row1">{{ order.id }}</div>
        <div class="row2 no-padding">{{ order.number }}</div>
        <div class="row3 no-padding">{{ parseType(order.type) }}</div>
        <div class="row4 no-padding">{{ parseDate(order.creationDate) }}</div>
        <div class="row5 no-padding flex-center delete-option" >
          <img src="../assets/dots.png" alt="menu-dots" width="4" height="16">
          <div class="delete" @mousedown="deleteItem(order.id)">
            <img src="../assets/bin.png" alt="bin" width="9" height="12">
            <span>удалить</span>
          </div>
        </div>
      </li>
    </ul>
    <div v-else>
      <h2 class="mt-40">Ничего не найдено по этому запросу:(</h2>
    </div>
  </section>
</template>

<script>

export default {
  /* eslint-disable */
  name: 'HomeView',
  computed: {
    orderList() {
      return this.$store.getters.displayed;
    },
  },
  methods: {
    parseType(type) {
      if (type === 'Pickup') {
        return 'Самовывоз';
      } if (type === 'Delivery') {
        return 'Курьерская доставка';
      } return 'Доставка в пункт выдачи';
    },
    parseDate(date) {
      const d = new Date(date);
      const dformat = [(d.getMonth() + 1),
        d.getDate(),
        d.getFullYear()].join('.') + ' ' +
        [d.getHours(),
        d.getMinutes(),
        d.getSeconds()].join(':');
      return dformat;
    },
    deleteItem(id) {
      const newList = this.orderList.filter((el) => el.id !== id);
      this.$store.commit('initOrders', newList);
    },
  },
};
</script>

<style scoped lang="scss">
.list {
  width: 100%;

  &__header {
    display: flex;
  }

  &__header-item {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e1e1e1;
    margin-right: 3px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }

  &__body {
    display: flex;
    flex-direction: column;
    border: 1px solid #E6E6E6;
    background: #ffffff;

    li {
      display: flex;
      align-items: center;
      height: 40px;

      div {
        display: flex;
        justify-content: flex-start;
        padding-left: 16px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        margin-right: 3px;
      }

      &:not(:last-child) {
        border: 1px solid #E6E6E6;
      }
    }
  }
}

.row1 {
  width: 134px;
  overflow: hidden;
  box-sizing: border-box;
}

.row2 {
  width: 244px;
}

.row3 {
  width: 189px;
}

.row4 {
  width: 268px;
}

.row5 {
  width: 65px;
}

.delete-option {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  height: 100%;

  span {
    color: #E6E6E6;;
  }

  .delete {
    position: absolute;
    display: none;
    padding: 0 16px;
    cursor: pointer;
    z-index: 3;
    left: -100px;
    top: 0;
    width: 148px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(182, 182, 182, 0.25);
    border-radius: 2px;
    transform: translateY(20px);

    &:hover {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    span {
      display: block;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      color: #045DA7;
    }
  }

  &:hover .delete,
  .delete:hover,
  &:active .delete {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.flex-center {
  display: flex;
  justify-content: center !important;
}

</style>
