<template>
  <section class="tabs">
    <ul class="orders" v-if="orderList.length > 0">
      <li
        class="order"
        v-for="(order, index) in orderList"
        :key="index"
      >
        <div class="order__header">
          <span>{{ order.id }}</span>
          <div class="delete-option">
            <img src="../assets/dots.png" alt="menu-dots">
            <div class="delete" @mousedown="deleteItem(order.id)">
              <img src="../assets/bin-grey.png" alt="bin" width="9" height="12">
              <span>удалить</span>
            </div>
          </div>
        </div>
        <div class="order__body">
          <div class="order__line">
            <span class="title">Номер накладной:</span>
            <span class="info">{{ order.number }}</span>
          </div>
          <div class="order__line">
            <span class="title">Тип заказа:</span>
            <span class="info">{{ parseType(order.type) }}</span>
          </div>
          <div class="order__line">
            <span class="title">Дата создания:</span>
            <div class="flex-column">
              <span class="info">{{ parseDateToDays(order.creationDate) }}</span>
              <span class="info">{{ parseDateToTime(order.creationDate) }}</span>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div v-else>
      <h2 class="mt-40">Ничего не найдено по этому запросу:(</h2>
    </div>
  </section>
</template>

<script>

export default {
  name: 'TabsView',
  computed: {
    orderList() {
      return this.$store.getters.displayed;
    },
  },
  methods: {
    parseType(type) {
      if (type === 'Pickup') {
        return 'Самовывоз';
      } if (type === 'Delivery') {
        return 'Курьерская доставка';
      } return 'Доставка в пункт выдачи';
    },
    parseDateToDays(date) {
      const d = new Date(date);
      const dformat = [(d.getMonth() + 1),
        d.getDate(),
        d.getFullYear()].join('.');
      return dformat;
    },
    parseDateToTime(date) {
      const d = new Date(date);
      const dformat = [d.getHours(),
        d.getMinutes(),
        d.getSeconds()].join(':');
      return dformat;
    },
    deleteItem(id) {
      const newList = this.orderList.filter((el) => el.id !== id);
      this.$store.commit('initOrders', newList);
    },
  },
  mounted() {
    this.$store.commit('setListView', false);
  },
};
</script>

<style lang="scss" scoped>
.tabs {
  width: 100%;
}

.orders {
  display: flex;
  flex-wrap: wrap;
}

.order {
  width: 290px;
  height: 160px;
  background: #F6FAFB;
  margin-bottom: 16px;
  box-shadow: 0px 4px 12px #d1d1d1;
  border-radius: 3px;

  &:not(:nth-child(3)) {
    margin-right: 16px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    width: 100%;
    height: 40px;
    background: rgba(237, 232, 245, 0.5);

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
    }
  }

  &__body {
    padding: 16px 16px;

    span {
      float: left;
      display: block;

      &.title {
        width: 127px;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #647A8C;
      }

      &.info {
        text-align: left;
        width: 125px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
      }
    }
  }

  &__line {
    height: 32px;
    margin-bottom: 2px;
  }
}

.delete-option {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  width: 40px;
  justify-content: flex-end;

  .delete {
    position: absolute;
    display: none;
    padding: 0 16px;
    cursor: pointer;
    z-index: 3;
    left: -100px;
    top: 0;
    width: 148px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(182, 182, 182, 0.25);
    border-radius: 2px;
    transform: translateY(20px);

    &:hover {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    span {
      display: block;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      color: #045DA7;
    }
  }

  &:hover .delete,
  .delete:hover,
  &:active .delete {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
</style>
