<template>
  <div class="container">
    <div class="main">
      <section class="filters">
        <h2>Фильтр</h2>
        <div class="filters__item">
          <label for="claim">
            Номер накладной:
            <input
              v-model.trim="orderNumber"
              type="text"
              id="claim"
              name="claim"
              placeholder="Введите фрагмент"
              @keypress.enter="searchByOrderNumber"
            />
          </label>
        </div>
        <div class="filters__item">
          <p>Тип заказа:</p>
          <div class="dropdown">
            <span class="dropdown__text" @mousedown="toggleOptions">Выберите из списка</span>
            <ul class="dropdown__options" v-if="isVisibleOrders">
              <li
                v-for="(item, index) in orderTypeList"
                :key="index"
                @mousedown="sortByType(item.value)"
              >{{ item.title }}</li>
            </ul>
          </div>
        </div>
      </section>
      <section class="tables">
        <div class="sort">
          <div class="sort__left">
            <div class="dropdown sort__dropdown" @mousedown="toggleSort">
              <span>Сортировка</span>
            </div>
            <ul class="dropdown__options dropdown__options--sort" v-if="isVisibleSort">
              <li @mousedown="sortAscending">
                <span>Номер накладной</span>
                <img src="../assets/ArrowsDownUp.png" alt="arrows">
              </li>
              <li @mousedown="sortDescending">
                <span>Номер накладной</span>
                <img src="../assets/ArrowsUpDown.png" alt="arrows">
              </li>
            </ul>
          </div>
          <div class="sort__right">
            <div
              class="sort__tabs left"
              :class="{ 'active': !!listView }"
              @mousedown="onListViewClick"
            >
              <img src="../assets/list-sort.png" alt="list-sort">
            </div>
            <div
              class="sort__tabs right"
              :class="{ 'active': !listView }"
              @mousedown="onTabViewClick"
            >
              <img src="../assets/tab-sort.png" alt="table-sort">
            </div>
          </div>
        </div>
        <transition name="fade" mode="out-in">
          <router-view />
        </transition>
      </section>

    </div>
  </div>
</template>

<script>
export default {
  /* eslint-disable */
  data() {
    return {
      isVisibleOrders: false,
      isVisibleSort: false,
      orderNumber: '',
      orderTypeList: [
        {
          title: 'Самовывоз',
          value: 'Pickup',
        },
        {
          title: 'Курьерская доставка',
          value: 'Delivery',
        },
        {
          title: 'Доставка в пункт выдачи',
          value: 'Pick-point',
        },
      ],
    };
  },
  computed: {
    ordersList() {
      return this.$store.getters.orders;
    },
    displayedList() {
      return this.$store.getters.displayed;
    },
    listView() {
      return this.$store.getters.isMainPageDisplayed;
    }
  },
  methods: {
    toggleOptions() {
      this.isVisibleOrders = !this.isVisibleOrders;
    },
    toggleSort() {
      this.isVisibleSort = !this.isVisibleSort;
    },
    onListViewClick() {
      this.$store.commit('setListView', true);
      this.$router.push('/');
    },
    onTabViewClick() {
      this.$store.commit('setListView', false);
      this.$router.push('/table');
    },
    searchByOrderNumber() {
      const result = this.ordersList.filter((el) => el.number === this.orderNumber);
      this.$store.commit('setOrders', result);
    },
    sortByType(orderType) {
      const result = this.ordersList.filter((el) => el.type === orderType);
      this.isVisibleOrders = false;
      this.$store.commit('setOrders', result);
    },
    sortAscending() {
      const result = [...this.displayedList].sort((a, b) => a.id > b.id ? 1 : -1);
      this.isVisibleSort = false;
      this.$store.commit('setOrders', result);
    },
    sortDescending() {
      const result = [...this.displayedList].sort((a, b) => a.id > b.id ? 1 : -1).reverse();
      this.isVisibleSort = false;
      this.$store.commit('setOrders', result);
    },
  },
};
</script>

<style lang="scss" scoped>
.main {
  display: flex;
  justify-content: flex-start;
  margin-top: 32px;
  width: 100%;
}

.filters {
  display: block;
  width: 280px;
  color: #000;
  float: left;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px #E7E7E7;
  border-radius: 3px;
  max-height: 184px;
  margin-right: 16px;
  text-align: left;

  h2 {
    text-align: left;
    margin-bottom: 24px;
    display: block;
    padding: 8px 16px;
    border-bottom: 1px solid #F8F8F8;
    margin-bottom: 14px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

  &__item {
    padding: 0 16px;
    margin-bottom: 14px;

    label,
    p {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
    }

    input {
      display: block;
      width: 100%;
      height: 32px;
      border: 1px solid #D9D9D9;
      border-radius: 2px;
      padding: 0 8px;
      margin-top: 4px;

      &::placeholder {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #A5A5A5;
      }
    }
  }
}

.dropdown {
  position: relative;
  width: 100%;
  height: 32px;
  margin-top: 4px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  cursor: pointer;

  &__text {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 18px 8px 8px;
    color: #A5A5A5;
  }

  &__options {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E0E5E6;
    border-radius: 2px;

    &--sort {
      width: 232px;
      top: 47px;
      left: 16px
    }

    &--sort li {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
    }

    li {
      padding: 8px 12px;

      &:not(:last-child) {
        border-bottom: 1px solid #E0E5E6;
      }
    }
  }

  &::after {
      content: url('../assets/arrow.svg');
      position: absolute;
      width: 10px;
      height: 5px;
      top: 3px;
      right: 12px;
  }
}

.tables {
  width: 912px;
}
.sort {
  display: flex;
  width: 100%;
  margin-bottom: 16px;

  &__left {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 815px;
    height: 64px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px #E7E7E7;
    border-radius: 3px;
    padding: 16px;
    margin-right: 16px;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: #E5E9EC;
    border: 1px solid #647A8C;
    transition: 0.3s;
    cursor: pointer;

    &.active {
      background: #ffffff;
    }

    &.left {
      border-radius: 20% 0 0 20%;
    }

    &.right {
      border-radius: 0 20% 20% 0;
    }
  }

  &__dropdown {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 232px;
    margin: 0;

    span {
      display: block;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      color: #2B2839;
      margin-left: 12px;
    }
  }
}

.fade-enter, .fade-leave-to {
  opacity: 0;
  transform: translateX(10px);
}

.fade-enter-active, .fade-leave-active {
  transition: all .3s ease;
}

</style>
