<template>
  <div id="app">
    <PageHeader></PageHeader>
    <PageBody></PageBody>
  </div>
</template>

<script>
import PageHeader from '@/components/PageHeader.vue';
import PageBody from '@/components/PageBody.vue';
import Orders from '../public/cards.json';

export default {
  name: 'HomeView',
  components: {
    PageHeader,
    PageBody,
  },
  mounted() {
    this.$store.commit('initOrders', Orders);
  },
};
</script>

<style lang="scss">
#app {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #E5E5E5;
}

li {
  list-style: none;
}

.container {
  display: block;
  width: 1208px;
  margin: 0 auto;
}

.mt-40 {
  margin-top: 40px;
}
</style>
